.jun-meter {
    position: fixed;
    width: 500px;
    height: 500px;
    background-image: url("../img/ring.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    margin-top: 0;
}

.jun-time-rect {
    position: absolute;
    width: 20px;
    height: 60px;
    left: 225px;
    top: 150px;
    background-image: url("../img/rect.svg");

}

.jun-time-h-h {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 110px;
    top: 140px;
    background-image: url("../img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-h-l {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 160px;
    top: 140px;
    background-image: url("../img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-m-h {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 240px;
    top: 140px;
    background-image: url("../img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-m-l {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 290px;
    top: 140px;
    background-image: url("../img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-s-h {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 360px;
    top: 175px;
    background-image: url("../img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-time-s-l {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 390px;
    top: 175px;
    background-image: url("../img/8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.jun-calendar-date {
    position: absolute;
    width: 120px;
    height: 30px;
    left: 330px;
    top: 250px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.jun-date {
    position: absolute;
    width: 120px;
    height: 30px;
    left: 330px;
    top: 280px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.jun-human{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 200px;
    top: 230px;
    background-image: url("../img/human.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}
